 body{

 }
ul{
  padding: 0;

}
h1{
  font-size: 2em;

}

.mynav   {
  background-color:red;
  margin:0;
   padding :15px;
   text-align:center;
}
   li{
  background-color:blue;
    margin :0 15px;
     padding:10px;
display: inline-block;

}

   a{
  color:yellow; text-decoration: none;padding: 12px ;text-align: center;
}
.mysection {
  background-color:pink; text-align :center; display: table;
}



.box {
  width: 33.33333333%;
  float: left;
}
.box img{
  width: 80%;height: 350px;
}

.box p{
  background-color:yellow;border:3px solid black;height:80%; margin :25;padding:25;
}

footer {
  background-color: red;
  padding:0px;
  text-align: center;
}
